@model ML.Materia 
@{
    ViewBag.Title = "GetAllView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAllView</h2>

<table>

    @if (Model.Materias.Count > 0)
    {
        foreach (ML.Materia materia in Model.Materias)
        {
            <tr>
                <td>@materia.Nombre</td>
                <td>@materia.Creditos</td>
                <td>@materia.Carrera.Nombre</td>
            </tr>
        }
    }
</table>