<style>
    /*codigo css*/
    .verde{
        color: green;
        font-weight: bold;
        font-style: italic;
        font-size: 100px;
    }

    #verde{
        color: red;
    }
</style>

<p id="verde">Hola Mundo</p>

<p class="verde">Hola Mundo 2</p>

@Html.Partial("_Modal")